* {
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

/* VIDEO BACKGROUND */
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(20, 15, 60, 0.75),
    rgba(0, 0, 0, 0.85)
  );
  z-index: -1;
}

/* PAYMENT CARD */
.payment-wrapper {
  width: 900px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  border-radius: 28px;
  overflow: hidden;
  backdrop-filter: blur(14px);
  box-shadow: 0 40px 80px rgba(0,0,0,0.6);
}

/* LEFT */
.payment-panel {
  width: 45%;
  padding: 40px;
  background: rgba(107, 91, 210, 0.85);
  color: white;
}

.subtitle {
  opacity: 0.9;
  margin-bottom: 30px;
}

.card-brands span {
  display: inline-block;
  margin: 6px 6px 6px 0;
  padding: 8px 14px;
  border-radius: 16px;
  background: rgba(255,255,255,0.2);
  font-size: 13px;
}

/* RIGHT */
.form-panel {
  width: 55%;
  padding: 40px;
  background: rgba(255,255,255,0.95);
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
}

.row {
  display: flex;
  gap: 12px;
}


  .pay-btn{
  display:inline-block;
  text-decoration:none;   /* removes underline */
  background:linear-gradient(135deg,#6D28D9,#2563EB,#EC4899);
  color:white;
  padding:14px 22px;
  border-radius:12px;
  font-weight:600;
  box-shadow:0 10px 30px rgba(109,40,217,.45);
  transition:transform .2s ease, box-shadow .2s ease;
}

.pay-btn:hover{
  transform:translateY(-2px);
  box-shadow:0 14px 40px rgba(109,40,217,.65);
}



.pay-btn:hover {
  background: #5848c2;
}

.secure {
  margin-top: 12px;
  font-size: 12px;
  color: #555;
  text-align: center;
}
